packages/schema/fixtures/*.json
packages/schema/package.json
packages/schema/schema.json

packages/mock/src/**/*.js
packages/mock/src/**/*.d.ts

packages/mock/bin/**/*.js
packages/mock/bin/**/*.d.ts

package.json

lerna.json

LICENSE.md
