packages/schema/fixtures/*.json
packages/schema/package.json
packages/schema/schema.json

packages/mock/schema.json
packages/mock/**/*.d.ts
packages/mock/**/*.js

packages/playground/build

package.json

lerna.json

LICENSE.md
